/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}
.name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #248792;
    height: 50px;
}
.name a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
 .name :hover{
    background-color: skyblue;
 }
.container {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="number"], textarea, input[type="file"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}